/**
 * Set the default loader path
 */
$webFontBasePath:'/vendor' !default;

// Frutiger Black
$loadFrutigerBlack:true !default;
$FrutigerBlackName:'Frutiger-Black';
$FrutigerBlackPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiBla';

// Frutiger Black Condensed
$loadFrutigerBlackCondensed:false !default;
$FrutigerBlackCondensedName:'Frutiger-BlackCn';
$FrutigerBlackCondensedPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiBlaCn';


// Frutiger Black Italic
$loadFrutigerBlackItalic:false !default;
$FrutigerBlackItalicName:'Frutiger-BlackItalic';
$FrutigerBlackItalicPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiBlaIta';


// Frutiger Extra Black Condensed
$loadFrutigerExtraBlackCondensed:false !default;
$FrutigerExtraBlackCondensedName:'Frutiger-ExtraBlackCn';
$FrutigerExtraBlackCondensedPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiExtBlaCn';


// Frutiger Bold
$loadFrutigerBold:true !default;
$FrutigerBoldName:'Frutiger-Bold';
$FrutigerBoldPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiBol';


// Frutiger Bold Condensed
$loadFrutigerBoldCondensed:false !default;
$FrutigerBoldCondensedName:'Frutiger-BoldCn';
$FrutigerBoldCondensedPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiBolCn';


// Frutiger Bold Italic
$loadFrutigerBoldItalic:false !default;
$FrutigerBoldItalicName:'Frutiger-BoldItalic';
$FrutigerBoldItalicPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiBolIta';

// Frutiger Condensed
$loadFrutigerCondensed:false !default;
$FrutigerCondensedName:'Frutiger-Cn';
$FrutigerCondensedPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiCn';

// Frutiger Italic
$loadFrutigerItalic:true !default;
$FrutigerItalicName:'Frutiger-Italic';
$FrutigerItalicPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiIta';


// Frutiger Light
$loadFrutigerLight:true !default;
$FrutigerLightName:'Frutiger-Light';
$FrutigerLightPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiLig';


// Frutiger Light Condensed
$loadFrutigerLightCondensed:false !default;
$FrutigerLightCondensedName:'Frutiger-LightCn';
$FrutigerLightCondensedPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiLig';

// Frutiger Light Condensed
$loadFrutigerLightItalic:false !default;
$FrutigerLightItalicName:'Frutiger-LightItalic';
$FrutigerLightItalicPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiLigIta';


// Frutiger Roman
$loadFrutigerRoman:true !default;
$FrutigerRomanName:'Frutiger-Roman';
$FrutigerRomanPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiRom';


// Frutiger Ultra Black
$loadFrutigerUltraBlack:false !default;
$FrutigerUltraBlackName:'Frutiger-UltraBlack';
$FrutigerUltraBlackPath:$webFontBasePath + '/web-fonts-frutiger/fonts/FrutiUltBla';


// Load the whole Family
@mixin loadFontFamily() {
  @include loadIndividualFont($loadFrutigerBlack, $FrutigerBlackName, $FrutigerBlackPath);
  @include loadIndividualFont($loadFrutigerBlackCondensed, $FrutigerBlackCondensedName, $FrutigerBlackCondensedPath);
  @include loadIndividualFont($loadFrutigerBlackItalic, $FrutigerBlackCondensedName, $FrutigerBlackCondensedPath);
  @include loadIndividualFont($loadFrutigerBold, $FrutigerBoldName, $FrutigerBoldPath);
  @include loadIndividualFont($loadFrutigerBoldCondensed, $FrutigerBoldCondensedName, $FrutigerBoldCondensedPath);
  @include loadIndividualFont($loadFrutigerBoldItalic, $FrutigerBoldItalicName, $FrutigerBoldItalicPath);
  @include loadIndividualFont($loadFrutigerCondensed, $FrutigerCondensedName, $FrutigerCondensedPath);
  @include loadIndividualFont($loadFrutigerExtraBlackCondensed, $FrutigerExtraBlackCondensedName, $FrutigerExtraBlackCondensedPath);
  @include loadIndividualFont($loadFrutigerItalic, $FrutigerItalicName, $FrutigerItalicPath);
  @include loadIndividualFont($loadFrutigerLight, $FrutigerLightName, $FrutigerLightPath);
  @include loadIndividualFont($loadFrutigerLightCondensed, $FrutigerLightCondensedName, $FrutigerLightCondensedPath);
  @include loadIndividualFont($loadFrutigerLightItalic, $FrutigerLightItalicName, $FrutigerLightItalicPath);
  @include loadIndividualFont($loadFrutigerRoman, $FrutigerRomanName, $FrutigerRomanPath);
  @include loadIndividualFont($loadFrutigerUltraBlack, $FrutigerUltraBlackName, $FrutigerUltraBlackPath);
}